@import url('main.css');

#impressum {
  background-color: #2a77aa;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

#impressum > a {
  color: white;
}

#main {
  color: aqua;
}

@media only screen and (min-width: 768px) {
  #main > article {
    max-width: 450px;
  }
}
