@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900" rel="stylesheet');

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 3em;
  margin: 2em 1rem;
  text-align: center;
  text-shadow: 2px 2px 10px #2a77aa;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #fff;
  text-shadow: 0.1em 0.1em 0 rgba(0, 0, 0, 0.3);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(136, 203, 171);
  background: linear-gradient(
    0deg,
    rgba(136, 203, 171, 1) 0%,
    rgba(0, 13, 60, 1) 100%
  );
}

/**************************/
#app {
  display: grid;
  grid-template-columns: 1fr 350px 350px 1fr;
  grid-template-rows: 200px 150px 150px 150px auto;
  grid-template-areas:
    'header header header header'
    '.  zip feel .'
    'generate generate generate generate'
    'entry entry entry entry';
  height: 100vh;
  color: whitesmoke;
  justify-content: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.headline {
  grid-area: header;
  text-align: center;
}
.zip {
  grid-area: zip;
  margin: auto;
}
.feel {
  grid-area: feel;
  margin: auto;
  text-align: center;
}
.entry {
  grid-area: entry;
  border: violet;
  outline-width: 20px;
  outline-color: white;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.generate {
  grid-area: generate;
  margin: auto;
}

.weatherCard {
  background-color: #2a77aa;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  color: #f5fcfe;
  width: 350px;
  height: 200px;
}
.weatherCard > h4 {
  color: wheat;
  font-size: 1.2em;
}

#openweathermap_icon {
  position: relative;
  bottom: 100px;
  left: 250px;
  font-size: 18px;
  background-color: white;
  border-radius: 50px;
}
.active {
  opacity: 100%;
  background-color: #444;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid white;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
  text-align: center;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  margin: 15px;
  color: #444;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  border: none;
  border-radius: 15px;
}

button {
  width: 400px;
  height: 100px;

  background: #3b4a6b;
  color: white;
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
  border-radius: 15px;
}

textarea {
  margin: 15px;
  color: #444;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  border-radius: 15px;
  width: 350px;
  height: 100px;
}

@media only screen and (max-width: 768px) {
  #app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 100px 150px auto;
    grid-template-areas:
      'header'
      'zip'
      'feel'
      'generate'
      'entry';
  }

  .zip,
  .feel {
    margin: auto;
  }
}
